<footer class = "bg-dark-blue" >
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5 class="text-uppercase">Help and Assistance</h5>
        <ul class="list-unstyled" style="text-align: center; margin-top: 10px;">
          <li><a href="#" class="text-light">Contact us</a></li>
          <li><a href="#" class="text-light">AI Assistant</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase">Our Solutions</h5>
        <ul class="list-unstyled" style="text-align: center; margin-top: 10px;">
          <li><a href="#" class="text-light">Stockpile Management System</a></li>
          <li><a href="#" class="text-light">Integrated Control System</a></li>
          <li><a href="#" class="text-light">Route Management System</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase">Office</h5>
        <ul class="list-unstyled" style="text-align: center; margin-top: 10px;">
          <li><i class="fas fa-map-marker-alt"></i> 126 Trenerry Crescent Abbotsford Victoria 3067 Australia</li>

        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase">Contacts</h5>
        <ul class="list-unstyled" style="text-align: center; position: relative;margin-top: 10px;">
          <li><i class="fas fa-fax"></i> Fax: +61 3 9412 6590</li>
          <li><i class="fas fa-phone"></i> +61 3 9412 6500</li>
          <li><i class="fas fa-envelope"></i> jesagroups.com</li>
          <a href="#" class="me-2 text-light"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="me-2 text-light"><i class="fab fa-linkedin-in"></i></a>
          <a href="#" class="me-2 text-light"><i class="fab fa-youtube"></i></a>
        </ul>
      </div>
    </div>
    <div class="text-center mt-3">
      <small>Copyright © 2024 JESA SA. All rights reserved</small>
    </div>
  </div>
</footer>
