<app-solution-header></app-solution-header>

<section id="quality_identifier" class="py-5" style="margin-top: 60px;">
  <div class="container">
    <div id="pdfContent">
      <div class="description mb-5">
        <h1 id="title" class="text-center">Quality Identifier</h1>
        <p id="desc" class="lead text-center">
          The Quality Identifier solution leverages advanced sensor technologies, such as Laser-Induced Breakdown Spectroscopy (LIBS), to perform real-time, online identification of different fertilizer types and detect foreign bodies. This automated system ensures precise classification and monitoring of material quality throughout the production and handling processes.
        </p>
        <div class="text-center">
          <img id="quality-identifier-img" src="/assets/solutions/quality_identifier.jpg" alt="quality_identifier" class="img-fluid my-4 animate__animated animate__fadeInUp" style="border-radius: 50%; width: 320px; height: 260px;">
        </div>
      </div>

      <!-- Impacts Section -->
      <div class="impacts mb-5">
        <h3 id="impact" class="text-center mb-4">Impact/ Value Creation</h3>
        <ul id="impact-section" class="animate__animated animate__fadeIn">
          <li>By accurately identifying and classifying different fertilizer types, the system ensures consistent product quality and adherence to standards.</li>
          <li>The ability to detect foreign bodies reduces the risk of contamination and potential hazards, ensuring a safer working environment.</li>
          <li>Automation of the quality identification process minimizes manual intervention, streamlining operations and reducing the likelihood of human error.</li>
          <li>By preventing contamination and ensuring consistent quality, the solution helps in reducing waste and optimizing resource utilization, leading to cost savings.</li>
          <li>Provides continuous, real-time data on material quality, allowing for immediate corrective actions and better decision-making in the production process.</li>
        </ul>
      </div>
    </div>

    <div class="text-center">
      <button (click)="downloadDescription()" class="btn btn-primary">Download PDF</button>
    </div>
  </div>
</section>
