<app-solution-header></app-solution-header>
<section id="quality_identifier" class="py-5" >
    <div class="container">
      <div class="description mb-5">
        <h2 class="text-center">Quality Identifier</h2>
        <p class="lead text-center">The Quality Identifier solution leverages advanced sensor technologies, such as Laser-Induced Breakdown Spectroscopy (LIBS), to perform real-time, online identification of different fertilizer types and detect foreign bodies. This automated system ensures precise classification and monitoring of material quality throughout the production and handling processes.
        </p>
        <div class="text-center" >
          <img src="/assets/solutions/quality_identifier.jpg" alt="quality_identifier" class="img-fluid  animate__animated animate__fadeInUp" style="margin-top: 37px; border-radius: 50%; width:  320px;height: 260px; overflow:hidden;" >
        </div>
      </div>
  
     
      <!-- Impacts Section -->
      <div class="impacts mb-5">
        <h3 class="text-center mb-4">Impact/ Value Creation</h3>
        <ul class="animate__animated animate__fadeIn">
          <li>By accurately identifying and classifying different fertilizer types, the system ensures consistent product quality and adherence to standards.</li>
          <li>The ability to detect foreign bodies reduces the risk of contamination and potential hazards, ensuring a safer working environment.</li>
          <li>Automation of the quality identification process minimizes manual intervention, streamlining operations and reducing the likelihood of human error.</li>
          <li>By preventing contamination and ensuring consistent quality, the solution helps in reducing waste and optimizing resource utilization, leading to cost savings.</li>
          <li>Provides continuous, real-time data on material quality, allowing for immediate corrective actions and better decision-making in the production process.</li>
        </ul>
      </div>
  
          <!-- QR Code Section -->
          <div class="qr-code-section">
            <h3 class="text-center mb-4">QR Code</h3>
            <div class="text-center">
              <qrcode [qrdata]="qrCodeData" ></qrcode>
            </div>
          </div>
  
  