.process-image-container {
    position: relative;
    height: 100%;
  }
  
  .process-image {
    width: 100%;
    height: auto;
  }
  
  .dotted-arrow {
    position: absolute;
    width: 100px;  /* Ajustez la largeur pour s'adapter à l'image */
    height: 200px; /* Hauteur ajustée pour étendre la flèche */
  }
  
  .clickable-step {
    position: absolute;  /* Positionnement absolu par rapport à .process-image-container */
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  