<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">


<header class="header" id="header" style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);height: 60px;background-color:#fff !important;">
  <nav class="nav container" style="margin-top: 19px;">
    <a href="#" routerLink="/home1" class="nav__logo" style="text-decoration: none;color:hsl(190, 64%, 18%)!important;">JESA</a>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="" class="nav__link active-link" routerLink="/home1" style="text-decoration: none;">Home</a>
        </li>
        <li class="nav__item">
          <a href="" routerLink="/chatbot" class="nav__link" style="text-decoration: none;">AI Assistant</a>
        </li>

        <li class="nav__item">
          <a href="" class="nav__link" routerLink="/contact-us" style="text-decoration: none;">Contact Us</a>
        </li>
      </ul>

      <!-- Optional theme button
      <div class="nav__dark">
          <span class="change-theme-name">Dark mode</span>
          <i class="ri-moon-line change-theme" id="theme-button"></i>
      </div> -->

      <i class="ri-close-line nav__close" id="nav-close"></i>
    </div>

    <div class="nav__toggle" id="nav-toggle">
      <i class="ri-function-line"></i>
    </div>
  </nav>
</header>
