<app-solution-header></app-solution-header>
<section id="condition-monitoring-system" class="py-5" style="margin-top: 60px;">
  <div class="container">
    <div id="pdfContent">
      <div class="description mb-5">
        <h1 id="title" class="text-center">Condition Monitoring System</h1>
        <p id="desc" class="lead text-center">
          Continuously monitor the performance and health of the equipment in order to detect and diagnose any potential problems or faults. (Pumps, Motors…).
          CMS allows early detection of potential faults or failures, which can prevent unexpected downtime and reduce maintenance costs by analyzing the collected data (vibration, temperature, pressure) to identify any anomalies or deviations from the expected performance.
        </p>
        <div class="text-center">
          <img id="cms-img" src="/assets/solutions/condition_monitoring_system.jpg" alt="Condition Monitoring" class="img-fluid my-4 animate__animated animate__fadeInUp" style="border-radius: 50%; height: 280px; width: 280px;">
        </div>
      </div>

      <div class="impacts mb-5">
        <h3 class="text-center mb-4" id="impact">Impact/ Value Creation</h3>
        <ul id="impact-section" class="animate__animated animate__fadeIn">
          <li>Up to 8% Reduction in maintenance costs.</li>
          <li>Reduce unplanned downtime.</li>
          <li>Optimize the performance of the physical assets.</li>
          <li>Improve the critical equipment reliability.</li>
          <li>Remote monitoring.</li>
          <li>Optimize maintenance plan.</li>
          <li>Improve data quantity and integrity, enable new maintenance strategies.</li>
        </ul>
      </div>

      <div id="vendors-section" class="vendors-maturity mb-5">
        <h3 class="text-center mb-4" id="vendors">Vendors</h3>
        <div class="text-center">
          <a href="https://new.abb.com/fr" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/abb-logo.png" alt="ABB" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 70px; height: 70px;">
          </a>
          <a href="https://www.siemens.com/ma/fr.html" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/siemens-logo.png" alt="Siemens" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 130px; height: 30px;">
          </a>
          <a href="https://www.bakerhughes.com/bently-nevada" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/nevada-logo.png" alt="Bently Nevada" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 130px; height: 30px;">
          </a>
          <a href="https://www.emerson.com/fr-fr" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/emerson-logo.png" alt="Emerson" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 90px; height: 60px;">
          </a>
          <a href="https://www.bksv.com/fr" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/bruel-logo.png" alt="Bruel & Kjaer" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 130px; height: 30px;">
          </a>
        </div>
      </div>

      <div class="text-center">
        <button (click)="downloadDescription()" class="btn btn-primary">Download PDF</button>
      </div>
    </div>
  </div>
</section>
