<app-solution-header></app-solution-header>
<section id="condition-monitoring-system" class="py-5" style="margin-top: 60px;">
  <div class="container">
    <div class="description mb-5">
      <h2 class="text-center">Condition Monitoring System</h2>
      <p class="lead text-center">Continuously monitor the performance and health of the equipment in order to detect and diagnose any potential problems or faults. (Pumps, Motors…).
        CMS allows early detection of potential faults or failures, which can prevent unexpected downtime and reduce maintenance costs by analyzing the collected data  (vibration, temperature, pressure) to identify any anomalies or deviations from the expected performance
      </p>
      <div class="text-center">
        <img src="/assets/solutions/condition_monitoring_system.jpg" alt="ConditionMonitoring" class="img-fluid animate__animated animate__fadeInUp" style="margin-top: 20px;height: 280px;width: 280px;border-radius: 50%;">
      </div>
    </div>

    <!-- Impacts Section -->
    <div class="impacts mb-5" style="margin-top: 60px;">
      <h3 class="text-center mb-4">Impact/ Value Creation</h3>
      <ul class="animate__animated animate__fadeIn">
        <li>Up to 8% Reduction in maintenance costs.</li>
        <li>Reduce unplanned downtime.</li>
        <li>Optimize the performance of the physical assets.</li>
        <li>Improve the critical equipment reliability.</li>
        <li>Remote monitoring.</li>
        <li>Optimize maintenance plan.</li>
        <li>Improve data quantity and integrity, enable new maintenance strategies.</li>
      </ul>
    </div>


    <!-- Vendors and Maturity Level Section -->
    <div class="vendors-maturity" style="margin-top: 50px;">
      <div class="row">
        <div class="col-12">
          <h4 class="text-center">Vendors</h4>
          <div class="text-center" >
            <a href="https://new.abb.com/fr" class="mx-3 my-2" target="_blank">
              <img src="/assets/logos/abb-logo.png" alt="Vendors" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 70px;height: 70px;">
            </a>
            <a href="https://www.siemens.com/ma/fr.html" class="mx-3 my-2" target="_blank">
              <img src="/assets/logos/siemens-logo.png" alt="Vendors" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 130px;height: 30px;margin-left: 20px;">
            </a>
            <a href="https://www.bakerhughes.com/bently-nevada" class="mx-3 my-2" target="_blank">
              <img src="/assets/logos/nevada-logo.png" alt="Vendors" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 130px;height: 30px;margin-left: 20px;">
            </a>
            <a href="https://www.emerson.com/fr-fr" class="mx-3 my-2" target="_blank">
              <img src="/assets/logos/emerson-logo.png" alt="Vendors" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 90px;height: 60px;margin-left: 20px;padding-bottom:22px;">
            </a>
            <a href="https://www.bksv.com/fr" class="mx-3 my-2" target="_blank">
              <img src="/assets/logos/bruel-logo.png" alt="Vendors" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 130px;height: 30px;margin-left: 20px;padding-bottom: 2px;">
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- QR Code Section -->
    <div class="qr-code-section" style="margin-top: 50px;">
      <h3 class="text-center mb-4">QR Code</h3>
      <div class="text-center">
        <qrcode [qrdata]="qrCodeData"></qrcode>
      </div>
    </div>
