<app-solution-header></app-solution-header>
<section id="stockpile-management-system" class="py-5" style="margin-top: 60px;">
  <div class="container" >
    <div id="pdfContent" >
      <div class="description mb-5">
        <h2 id="title" class="text-center">Stockpile Management System</h2>
        <p id="desc" class="lead text-center">Optimizes material tracking, material handling and quality management for the fertilizer stockpiles. Achieve a fully automated operations of stockyard providing the possibility to have a manual mode to high level automation of complex stacking and reclaiming.
          Provide advanced automation of stacking and reclaiming operations for bulk material stockyards using centralized 3D models and advanced automation algorithms. Real-time 3D visualization for accurate monitoring of stockyards, stockpiles, and machines. Additionally, SMS allows tracking of material, quality, and age throughout the stockyard.</p>
        <div class="text-center">
          <img id="stockpile-img" src="/assets/description/stockpile.png" alt="Stockpile Management" class="img-fluid my-4 animate__animated animate__fadeInUp">
        </div>
      </div>

      <div class="features mb-5">
        <h3 class="text-center mb-4" id="feat">Features</h3>
        <div class="row" id="features-section">
          <div class="col-md-4">
            <div class="card feature-card animate__animated animate__zoomIn">
              <img src="/assets/features/material.png" alt="Material Tracking" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Material Tracking</h5>
                <p class="card-text">Real-time tracking of material, quality, and age throughout the stockyard.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card feature-card animate__animated animate__zoomIn" style="animation-delay: 0.1s;">
              <img src="/assets/features/quality.png" alt="Quality Management" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Quality Management</h5>
                <p class="card-text">Ensuring high-quality standards with precise quality management.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card feature-card animate__animated animate__zoomIn" style="animation-delay: 0.2s;">
              <img src="/assets/features/schedullig.png" alt="Scheduling" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Scheduling</h5>
                <p class="card-text">Efficient scheduling of operations to maximize productivity.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card feature-card animate__animated animate__zoomIn" style="animation-delay: 0.3s;">
              <img src="/assets/features/modeling.png" alt="3D Modeling & Visualization" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">3D Modeling & Visualization</h5>
                <p class="card-text">Advanced 3D visualization for accurate monitoring of stockyards, stockpiles, and machines.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card feature-card animate__animated animate__zoomIn" style="animation-delay: 0.4s;">
              <img src="/assets/features/collisions.png" alt="Collision Avoidance" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Collision Avoidance Capability</h5>
                <p class="card-text">Preventing collisions with smart detection and avoidance technology.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card feature-card animate__animated animate__zoomIn" style="animation-delay: 0.5s;">
              <img src="/assets/features/analytics.png" alt="Smart Analytics & Reports" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Smart Analytics & Reports</h5>
                <p class="card-text">Detailed analytics and reporting for better decision-making.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Impact Section -->
      <div class="impacts mb-5">
        <h3 class="text-center mb-4" id="impact">Impact/ Value Creation</h3>
        <ul id="impact-section" class="animate__animated animate__fadeIn">
          <li>Easy and accurate overview of stockyard material types volume and tonnage</li>
          <li>Reducing operating cost</li>
          <li>Material tracking</li>
          <li>Getting laboratory analysis</li>
          <li>Increase overall equipment efficiency</li>
          <li>Detailed inventory information of the material stock at any time</li>
          <li>Increase storage capacity without a huge investment</li>
          <li>Reduce the gap between theoretical and real capacity</li>
          <li>Improve operational execution</li>
        </ul>
      </div>

      <!-- Vendors Section -->
      <div id="vendors-section" class="vendors-maturity mb-5">
        <div class="row">
          <div class="col-12">
            <h4 class="text-center" style="text-align: center;" id="vendors">Vendors</h4>
            <div class="text-center" style="margin-top: 15px;" id="vendors-section">
              <a href="https://new.abb.com/fr" class="mx-3 my-2" target="_blank">
                <img src="/assets/logos/abb-logo.png" alt="Vendors" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 70px;height: 70px;">
              </a>
              <a href="https://www.siemens.com/ma/fr.html" class="mx-3 my-2" target="_blank">
                <img src="/assets/logos/siemens-logo.png" alt="Vendors" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 130px;height: 30px;margin-left: 20px;">
              </a>
              <a href="https://www.flsmidth.com/" class="mx-3 my-2" target="_blank">
                <img src="/assets/logos/FLSmidth-logo.png" alt="Vendors" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 130px;height: 40px;margin-left: 60px;">
              </a>
              <a href="https://indurad.com/" class="mx-3 my-2" target="_blank">
                <img src="/assets/logos/indurad-logo.png" alt="Vendors" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 90px;height: 50px;margin-left: 60px;padding-bottom:16px;">
              </a>
              <a href="https://mra.com.au/" class="mx-3 my-2" target="_blank">
                <img src="/assets/logos/mra-logo.png" alt="Vendors" class="img-fluid my-4 animate__animated animate__fadeInLeft" style="width: 130px;height: 30px;margin-left: 60px;">
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- QR Code Section
      <div class="qr-code-section">
        <h3 class="text-center mb-4">QR Code</h3>
        <div class="text-center">
          <qrcode [qrdata]="qrCodeData" ></qrcode>
        </div>
      </div>
      </div>-->

      <!-- QR Code Section
      <div class="qr-code mb-5" >
        <h3 class="text-center mb-4">QR Code</h3>
        <div class="text-center">
          <qrcode [qrdata]="qrCodeData" [width]="256" errorCorrectionLevel="M"></qrcode>
        </div>
      </div>-->
    </div>

    <div class="text-center">
      <button (click)="downloadDescription()" class="btn btn-primary">Download PDF</button>
    </div>
  </div>
</section>
