<app-solution-header></app-solution-header>
<section id="integrated-control-system" class="py-5" style="margin-top: 60px;">
  <div class="container">
    <div id="pdfContent">
      <div class="description mb-5">
        <h1 id="title" class="text-center">Integrated Control System</h1>
        <p id="desc" class="lead text-center">
          A centralized and interconnected setup that manages and monitors operations, to optimize efficiency and coordination.
        </p>
        <div class="text-center">
          <img id="ics-img" src="/assets/description/ics.png" alt="Integrated Control System" class="img-fluid my-4 animate__animated animate__fadeInUp">
        </div>
      </div>

      <div class="features mb-5">
        <h3 class="text-center mb-4" id="feat">Features</h3>
        <div class="row" id="features-section">
          <div class="col-md-4">
            <div class="card feature-card animate__animated animate__zoomIn">
              <img src="/assets/features/integration.png" alt="Integration" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Integration</h5>
                <p class="card-text">Integrates and stores data from various devices.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card feature-card animate__animated animate__zoomIn" style="animation-delay: 0.1s;">
              <img src="/assets/features/control.png" alt="Control" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Control</h5>
                <p class="card-text">Controls multiple processes and systems.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card feature-card animate__animated animate__zoomIn" style="animation-delay: 0.2s;">
              <img src="/assets/features/visualization.png" alt="Visualization" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Visualization</h5>
                <p class="card-text">Visualizes process data in the control room.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card feature-card animate__animated animate__zoomIn" style="animation-delay: 0.3s;">
              <img src="/assets/features/segregation.png" alt="Segregation" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Segregation</h5>
                <p class="card-text">Segregates into several controllers for better management.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card feature-card animate__animated animate__zoomIn" style="animation-delay: 0.4s;">
              <img src="/assets/features/standardisation.png" alt="Standardization" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Standardization</h5>
                <p class="card-text">Standardizes process visualization and maintenance.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card feature-card animate__animated animate__zoomIn" style="animation-delay: 0.5s;">
              <img src="/assets/features/security.png" alt="Security" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Security</h5>
                <p class="card-text">Enhanced security features and network segmentation.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="impacts mb-5">
        <h3 class="text-center mb-4" id="impact">Impact/ Value Creation</h3>
        <ul id="impact-section" class="animate__animated animate__fadeIn">
          <li>Optimized process and control</li>
          <li>More efficient coordination</li>
        </ul>
      </div>

      <div class="vendors-maturity mb-5">
        <h3 class="text-center mb-4" id="vendors">Sample of Vendors</h3>
        <div class="text-center">
          <a href="https://new.abb.com/fr" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/abb-logo.png" alt="ABB" class="img-fluid my-4" style="width: 70px; height: 70px;">
          </a>
          <a href="https://www.siemens.com/ma/fr.html" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/siemens-logo.png" alt="Siemens" class="img-fluid my-4" style="width: 130px; height: 30px;">
          </a>
          <a href="https://www.schneider-electric.com/" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/schneider-logo.png" alt="Schneider Electric" class="img-fluid my-4" style="width: 130px; height: 40px;">
          </a>
          <a href="https://www.rockwellautomation.com/" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/Rockwell.svg" alt="Rockwell Automation" class="img-fluid my-4" style="width: 130px; height: 40px;">
          </a>
          <a href="https://www.honeywell.com/" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/honeywell-logo.png" alt="Honeywell" class="img-fluid my-4" style="width: 130px; height: 30px;">
          </a>
        </div>
      </div>

      <div class="text-center">
        <button (click)="downloadDescription()" class="btn btn-primary">Download PDF</button>
      </div>
    </div>
  </div>
</section>
