<app-solution-header></app-solution-header>
<section id="integrated-control-system" class="py-5" style="margin-top: 60px;">
  <div class="container">
    <div id="pdfContent">
      <div class="description mb-5">
        <h2 id="title" class="text-center">Integrated Control System</h2>
        <p id="desc" class="lead text-center">
          A centralized and interconnected setup that manages and monitors operations, to optimize efficiency and coordination.
        </p>
        <div class="text-center">
          <img id="ics-img" src="/assets/description/ics.png" alt="Integrated Control System" class="img-fluid my-4 animate__animated animate__fadeInUp">
        </div>
      </div>

      <div class="features mb-5">
        <h3 class="text-center mb-4" id="feat">Features</h3>
        <div class="row" id="features-section">
          <div class="col-md-12">
            <ul class="list-unstyled">
              <li>A unique centralized system and room that manages and controls industrial processes in real-time allowing to:</li>
              <ul>
                <li>Integrate and store data from various devices</li>
                <li>Control multiple processes and systems</li>
                <li>Visualize process data in the control room</li>
              </ul>
              <li>The ICS would be segregated into several controllers</li>
              <li>A unique ICS would enable to standardize process visualization, centralize and facilitate maintenance and enable scalability</li>
              <li>More robust and secure system, with enhanced security features and better network segmentation and isolation</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="impacts mb-5">
        <h3 class="text-center mb-4" id="impact">Impact/ Value Creation</h3>
        <ul id="impact-section" class="animate__animated animate__fadeIn">
          <li>Optimized process and control</li>
          <li>More efficient coordination</li>
        </ul>
      </div>

      <div class="vendors-maturity mb-5">
        <h3 class="text-center mb-4" id="vendors">Sample of Vendors</h3>
        <div class="text-center">
          <a href="https://new.abb.com/fr" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/abb-logo.png" alt="ABB" class="img-fluid my-4" style="width: 70px; height: 70px;">
          </a>
          <a href="https://www.siemens.com/ma/fr.html" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/siemens-logo.png" alt="Siemens" class="img-fluid my-4" style="width: 130px; height: 30px;">
          </a>
          <a href="https://www.schneider-electric.com/" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/schneider-logo.png" alt="Schneider Electric" class="img-fluid my-4" style="width: 130px; height: 40px;">
          </a>
          <a href="https://www.rockwellautomation.com/" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/Rockwell.svg" alt="Rockwell Automation" class="img-fluid my-4" style="width: 130px; height: 40px;">
          </a>
          <a href="https://www.honeywell.com/" class="mx-3 my-2" target="_blank">
            <img src="/assets/logos/honeywell-logo.png" alt="Honeywell" class="img-fluid my-4" style="width: 130px; height: 30px;">
          </a>
        </div>
      </div>

      <div class="text-center">
        <button (click)="downloadDescription()" class="btn btn-primary">Download PDF</button>
      </div>
    </div>
  </div>
</section>
