<app-solution-header></app-solution-header>
<section id="shiploading-automation" class="py-5" >
    <div class="container">
      <div class="description mb-5">
        <h2 class="text-center">Shiploading Automation</h2>
        <p class="lead text-center">Automation and control of shiploading process, with anti-collision systems, direct  to belt flow, laser scanning and others sensors.
        </p>
        <div class="text-center" >
          <img src="/assets/solutions/ship-loading.png" alt="ShipLoading" class="img-fluid  animate__animated animate__fadeInUp" style="margin-top: 37px; overflow:hidden;" >
        </div>
      </div>
     
      <!-- Impacts Section -->
      <div class="impacts mb-5">
        <h3 class="text-center mb-4">Impact/ Value Creation</h3>
        <ul class="animate__animated animate__fadeIn">
          <li>reduces the time required to load ships and improving overall operational efficiency.</li>
          <li>Utilizes anti-collision systems and other safety features to prevent accidents and ensure a safer working environment.</li>
          <li>Laser scanning and sensor technologies enable precise measurement and placement of materials, reducing wastage and ensuring accurate loading.</li>
          <li>By optimizing the loading process and reducing errors, this solution helps in lowering operational costs.</li>
          <li>Provides real-time data and control over the loading process, allowing for better decision-making and management.</li>
        </ul>
      </div>
  
          <!-- QR Code Section -->
          <div class="qr-code-section">
            <h3 class="text-center mb-4">QR Code</h3>
            <div class="text-center">
              <qrcode [qrdata]="qrCodeData" ></qrcode>
            </div>
          </div>
  
  