<app-header></app-header>
<div class="container-fluid p-0">

  <section class="hero text-white text-center d-flex align-items-center justify-content-center">
    <div class="hero-content">
      <h1>Welcome to Stock To Port Digitalization</h1>
      <p>Your partner in innovative digital solutions</p>
    </div>
  </section>

  <section id="who-we-are" class="section py-5 ">
    <div class="container">
      <h2 class="text-center">Who We Are</h2>
      <p class="text-center" style="margin-top: 20px;">Welcome to Stock to Port Digitalization, where you can explore a range of implemented digital solutions tailored to optimize every stage of the fertilizer supply chain, from initial storage to efficient ship loading.
        Our focus is to provide a detailed overview of these solutions and address any questions you may have.
      </p>
      <p class="text-center">
        Learn how our innovations in real-time stockpile management, automated route optimization, condition monitoring systems, and shiploading automation enhance operational efficiency and reduce costs throughout your logistics operations.
      </p>
    </div>
  </section>
  <section id="our-solutions" class="section py-5">
    <div class="container">
      <div class="centered-content">
        <img src="/assets/logos/ourSolution.png" alt="Logo" class="logo">
        <h2>Our Services</h2>
      </div>

      <div class="row" >
        <div class="col-md-4">
          <a routerLink="/condition-monitoring-system" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/condition_monitoring_system.jpg');"></div>
              <div class="card-body">
                <h3 class="card-title">Stockage</h3>
                <!--<p class="card-text">Utilizes sensors and real-time data analysis to constantly oversee equipment status, identify possible issues, and optimize maintenance processes</p>-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/shiploading-automation" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/shiploading.jpg');"></div>
              <div class="card-body">
                <h3 class="card-title">Routage</h3>
                <!--<p class="card-text">Automation and control of shiploading process, with anti-collision systems, direct connection to belt flow, laser scanning and other sensors.</p>-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/quality-identifier" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/quality_identifier.jpg');"></div>
              <div class="card-body">
                <h3 class="card-title">Chargement</h3>
                <!--<p class="card-text">On-line identification
                  of different fertilizer types
                  and foreign bodies
                  (e.g., LIBS).
                </p>-->
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="our-solutions" class="section py-5">
    <div class="container">
      <div class="centered-content">
        <img src="/assets/logos/ourSolution.png" alt="Logo" class="logo">
        <h2>Our Solutions</h2>
      </div>

      <div class="row" >
        <div class="col-md-4">
          <a routerLink="/stockpile-management" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/stock_pile.jpg');"></div>
              <div class="card-body">
                <h3 class="card-title">Stockpile Management System</h3>
                <!--<p class="card-text">Real-time precise visualization of stockpile volumes & qualities.</p>-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/automatic-sampling" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/automatic-sampling.png');"></div>
              <div class="card-body">
                <h3 class="card-title">Automatic sampling system</h3>
                <!--<p class="card-text">Real-time precise visualization of stockpile volumes & qualities.</p>-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/color-analyzer" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/color-analyzer.png');"></div>
              <div class="card-body">
                <h3 class="card-title">Color analyzer system</h3>
                <!--<p class="card-text">Real-time precise visualization of stockpile volumes & qualities.</p>-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/flap-load" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/flap-load.png');"></div>
              <div class="card-body">
                <h3 class="card-title">Flaps load guides automation</h3>
                <!--<p class="card-text">Real-time precise visualization of stockpile volumes & qualities.</p>-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/tripper-car" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/tripper-car.png');"></div>
              <div class="card-body">
                <h3 class="card-title">Tripper car automation</h3>
                <!--<p class="card-text">Real-time precise visualization of stockpile volumes & qualities.</p>-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/scrapper-automation" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/tripper-car.png');"></div>
              <div class="card-body">
                <h3 class="card-title">Scrapper automation</h3>
                <!--<p class="card-text">Real-time precise visualization of stockpile volumes & qualities.</p>-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/laser-radar" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/laser-radar.png');"></div>
              <div class="card-body">
                <h3 class="card-title">3D Laser/Radar</h3>
                <!--<p class="card-text">Real-time precise visualization of stockpile volumes & qualities.</p>-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/integrated-control" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/integrated_control_system.jpg');"></div>
              <div class="card-body">
                <h3 class="card-title">Integrated Control System</h3>
                <!--<p class="card-text">A centralized and interconnected setup that manages and monitors operations, optimizing efficiency and coordination.</p>-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/route-management" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/route_management.jpg');"></div>
              <div class="card-body">
                <h3 class="card-title">Route Management System</h3>
                <!--<p class="card-text">Automated route management and optimization for fertilizers, from the storage area to the port.</p>-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/condition-monitoring-system" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/condition_monitoring_system.jpg');"></div>
              <div class="card-body">
                <h3 class="card-title">Condition Monitoring System</h3>
                <!--<p class="card-text">Utilizes sensors and real-time data analysis to constantly oversee equipment status, identify possible issues, and optimize maintenance processes</p>-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/shiploading-automation" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/shiploading.jpg');"></div>
              <div class="card-body">
                <h3 class="card-title">Shiploading Automation</h3>
                <!--<p class="card-text">Automation and control of shiploading process, with anti-collision systems, direct connection to belt flow, laser scanning and other sensors.</p>-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/quality-identifier" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/solutions/quality_identifier.jpg');"></div>
              <div class="card-body">
                <h3 class="card-title">Quality identifier</h3>
                <!--<p class="card-text">On-line identification
                  of different fertilizer types
                  and foreign bodies
                  (e.g., LIBS).
                </p>-->
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="help-and-assistance" class="section py-5 bg-dark-blue text-white">
    <div class="container">
      <div class="centered-content">
        <img src="/assets/logos/ourSolution.png" alt="Logo" class="logo">
        <h2>Help & Assistancy</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a routerLink="/contact-us" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/helps/contact.png');"></div>
              <div class="card-body">
                <h3 class="card-title">Contact Us</h3>
                <p class="card-text">Making contact through Gmail, Facebook, Whatsapp or Linkedin.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6">
          <a routerLink="/chatbot" class="solution-link">
            <div class="card mb-4 solution-card">
              <div class="solution-image" style="background-image: url('/assets/helps/aiAssistant.png');"></div>
              <div class="card-body">
                <h3 class="card-title">Use AI Assistant</h3>
                <p class="card-text">Communicate with an AI Chatbot, for more détails about the solutions.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
